* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
#home-browsing {
    overflow-x: hidden;
    .header-image {
        background-image: url('../asset/header.png');
        height: 539px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .description {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        padding: 100px;
        background-color: #F9F9F9;
        .title {
            color: #868686;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.01em;
            margin-bottom: 10px;
        }
        .role-text {
            font-size: 21px;
            line-height: 29px;
            color: #3F3F3F;
            span {
                font-weight: 700;
            }
        }
        .project-text {
            white-space: nowrap;
            margin-top: 10px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #3F3F3F;
        }
    }
    .background {
        background-color: #3F3F3F;
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .section-name {
            margin-bottom: 15px;
            color: #ffffff;
        }
        .section-title {
            margin-bottom: 100px;
            color: #FFFFFF;
        }
    }
    .user-insights {
        padding: 100px 90px 50px;
        background-color: #F9F9F9;
        .section-name {
            color: #3F3F3F;
        }
        .inner-title {
            font-size: 28px;
            line-height: 38px;
            color: #3F3F3F;
            letter-spacing: 0.01em;
            margin-top: 100px;
            margin-bottom: 50px;
        }
        .user-insights-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            gap: 50px;
            .card {
                border: 1px solid #E1E1E1;
                background-color: #FFFFFF;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                img {
                    margin: 0 auto;
                    border: 15px solid #FFFFFF;
                }
                .name {
                    margin-top: 15px;
                    margin-left: 20px;
                    margin-bottom: 10px;
                    color: #000000;
                    font-size: 21px;
                    line-height: 29px;
                }
                .text {
                    margin-left: 20px;
                    padding-bottom: 20px;
                    color: #868686;
                    letter-spacing: 0.01em;
                    font-size: 16px;
                    line-height: 24px;
                    padding-right: 20px;
                }
            }
        }
    }
    .stakeholder-insights {
        padding: 50px 90px 100px;
        .inner-title {
            font-size: 28px;
            line-height: 38px;
            color: #3F3F3F;
            letter-spacing: 0.01em;
            margin-bottom: 50px;
            text-align: center;
        }
        .stakeholder-insights-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            .card {
                background-color: #F9F9F9;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.02);
                border: 1px solid #E1E1E1;
                .name {
                    margin-top: 20px;
                    margin-left: 20px;
                    color: #3F3F3F;
                    font-size: 21px;
                    line-height: 29px;
                }
                .text {
                    padding: 20px;
                    color: #868686;
                    letter-spacing: 0.01em;
                    font-size: 16px;
                    line-height: 24px;
                    span {
                        font-weight: 700;
                    }
                }
                .image-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .conclusions {
        background-color: #3F3F3F;
        padding: 100px;
        .section-name {
            margin-bottom: 15px;
            color: #FFFFFF;
        }
        .section-title {
            margin-bottom: 100px;
            color: #FFFFFF;
        }
        .conclusions-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            .card {
                max-width: 570px;
                img {
                    margin-bottom: 25px;
                }
                .name {
                    color: #F9F9F9;
                    letter-spacing: 0.01em;
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 10px;
                }
                .text {
                    color: #F1F1F1;
                    font-size: 21px;
                    line-height: 29px;
                }
            }
        }
    }
    .design-exp {
        padding: 100px 100px;
        .section-name {
            color: #000000;
            margin-bottom: 15px;
        }
        .section-title {
            margin-bottom: 100px;
            color: #3F3F3F;
        }
        .browsing-exp-wrapper {
            position: relative;
            &::after {
                position: absolute;
                display: block;
                content: '';
                background-color: #E1E1E1;
                height: 1px;
                width: 1040px;
                bottom: -100px;
                left: 170px;
            }
            .title {
                color: #3F3F3F;
                font-size: 28px;
                line-height: 38px;
                letter-spacing: 0.01em;
                margin-bottom: 50px;
            }
            .browsing-exp {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 75.67px;
                margin-left: 38.33px;
                width: 100%;
                margin-bottom: 50px;
                .browsing-exp-phones {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: 130px;
                    .phone {
                        position: relative;
                        &:not(:last-child)::after {
                            position: absolute;
                            content: url('../asset/arrow.svg');
                            right: -80px;
                            top: 45%;
                        }

                    }
                }
            }
        }
        .mobile-browsing-exp {
            margin-top: 200px;
            .title {
                color: #3F3F3F;
                letter-spacing: 0.01em;
                font-size: 28px;
                line-height: 38px;
                text-align: center;
                margin-bottom: 10px;
            }
            .subtitle {
                color: #868686;
                text-align: center;
                letter-spacing: 0.01em;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 50px;
            }
            .mobile-browsing-exp-cards {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 50px;
            }
        }
    }
    .cross-platform {
        padding: 0 100px 50px;
        .section-subtitle {
            text-align: center;
            font-weight: 400;
            color: #000000;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 0.01em;
            margin-bottom: 10px;
        }
        .section-text {
            text-align: center;
            color: #868686;
            letter-spacing: 0.01em;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 50px;
        }
        .cross-platform-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            .card {
                border: 1px solid #E1E1E1;
                padding: 30px 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 100px;
                .title {
                    color: #000000;
                    letter-spacing: 0.01em;
                    font-size: 16px;
                    line-height: 24px;
                    bottom: 10px;
                }
                .text {
                    color: #868686;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                }
                &:nth-child(2) {
                    background-color: #F9F9F9;
                }
            }
        }
    }
    .final-flow {
        background-color: #3F3F3F;
        padding: 100px;
        .section-subtitle {
            margin-bottom: 10px;
            color: #FFFFFF;
            font-size: 28px;
            line-height: 38px;
            font-weight: 400;
            letter-spacing: 0.01em;
        }
        .section-text {
            color: #F9F9F9;
            margin-bottom: 50px;
        }
        .final-flow-images {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 27.35px;
            .image  {
                margin-right: 150px;
                position: relative;
                &::after  {
                    position: absolute;
                    content: url('../asset/arrow-white.svg');
                    right: -110px ;
                    top: 40%;
                }
            }
            .card:nth-child(2) img {
                margin-bottom: 187px;
            }
            .card:nth-child(3) img {
                margin-top: 187px;
            }
        }

    }
    .feat-func {
        padding: 100px;
        background-color: #F9F9F9;
        .section-name {
            margin-bottom: 15px;
        }
        .section-title {
            margin-bottom: 100px;
        }
        .catalog {
            background-color: #FFFFFF;
            padding: 50px;
            .title {
                font-size: 28px;
                line-height: 38px;
                letter-spacing: 0.01em;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .subtitle {
                font-size: 21px;
                line-height: 29px;
                color: #868686;
                margin-bottom: 50px;
            }
            .catalog-image-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;
                .video-flex {
                    max-width: 316px;
                }
                img {
                    width: 387px;
                }
            }
        }
        .catalog-types {
            margin-top: 50px;
            gap: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .type {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                background-color: #FFFFFF;
                padding: 50px;
                max-width: 360px;
                .title {
                    font-size: 28px;
                    line-height: 38px;
                    letter-spacing: 0.01em;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                .subtitle {
                    font-size: 21px;
                    line-height: 29px;
                    color: #868686;
                    margin-bottom: 50px;
                }
                .video-flex {
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
    .final-outcomes {
        padding: 100px;
        background-color: #3F3F3F;
        width: 100%;
        .section-name {
            margin-bottom: 50px;
            color: #F9F9F9;
        }
        .title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
            gap: 20px;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 0.02em;
        }
        .text {
            font-weight: 400;
            font-size: 21px;
            line-height: 29px;
            color: #F9F9F9;
            margin-bottom: 50px;
        }
    }
    .laptop {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .laptop-wrapper {
            background: #FFFFFF;
            border: 1px solid #E1E1E1;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .sign {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 20px;
                .name {
                    color: #3F3F3F;
                    font-size: 21px;
                    line-height: 29px;
                }
                .date {
                    color: #868686;
                    letter-spacing: 0.01em;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    .section-name {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: center;
    }
    .section-title {
        font-size: 38px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #3F3F3F;
    }
    .inner-title {
        text-align: center;
    }
    .section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1919px) {
    #home-browsing {
        .section-title {
            max-width: 1440px;
            margin: 0 auto 100px;
        }
        .header-image {
            background-image: url('../asset/header-xl.png');
        }
        .background {
            padding: 100px 180px;
            width: 100%;
        }
        .user-insights {
            padding: 100px 180px 50px;
        }
        .stakeholder-insights {
            padding: 50px 180px 100px;
        }
        .conclusions {
            padding: 100px 180px;
            width: 100%;
            .conclusions-cards {
                gap: 100px;
            }
        }
        .design-exp {
            padding: 100px 180px;
            .browsing-exp-wrapper {
                &::after {
                    width: 1200px;
                    left: 200px;
                }
            }
        }
        .cross-platform {
            padding: 0 180px 50px;
        }
        .final-flow {
            padding: 100px 180px;
            width: 100%;
        }
        .feat-func {
            padding: 100px 180px;
        }
        .final-outcomes {
            width: 100%;
            padding: 100px 180px;
        }
        .laptop {
            padding: 50px 0;
            width: 100%;
            .laptop-wrapper {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    #home-browsing {
        .header-image {
            background-image: url('../asset/header-md.png');
        }
        .background {
            padding: 40px;
            width: 100%;
            .section-title {
                margin-bottom: 40px;
            }
        }
        .dev-direction {
            max-width: 1200px;
        }
        .user-insights {
            padding: 40px;
            width: 100%;
        }
        .stakeholder-insights {
            padding: 40px;
            .stakeholder-insights-cards {
                flex-direction: column;
                .card {
                    width: 100%;
                }
            }
        }
        .conclusions {
            padding: 40px;
            width: 100%;
            .conclusions-cards {
                gap: 40px;
                align-items: flex-start;
                .card {
                    max-width: 510px;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .design-exp {
            padding: 40px;
            .browsing-exp-wrapper {
                &::after {
                    width: 860px;
                    left: 170px;
                }
                .title {
                    display: none;
                }
                .section-title {
                    margin-bottom: 70px;
                }
                .browsing-exp {
                    margin-bottom: 70px;
                    flex-direction: column-reverse;
                    gap: 40px;
                    padding: 40px;
                    margin-left: 0;
                    .section-title {
                        margin-bottom: 40px;
                    }
                    .browsing-exp-phones {
                        gap: 100px;
                        margin: 0;
                    }
                }
            }
            .mobile-browsing-exp {
                .mobile-browsing-exp-cards {
                    width: 100%;
                    .card {
                        width: 100%;
                        img {
                             width: 100%;
                        }
                    }
                }
            }
        }
        .cross-platform {
            padding: 0 40px;
            .cross-platform-cards {
                .card {
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
        .final-flow {
            padding: 40px;
            width: 100%;
            .final-flow-images {
                .card {
                    max-width: 178px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .feat-func {
            padding: 40px 30px;
            max-width: 100%;
            .section-title {
                max-width: 1120px;
                margin: 0 auto 40px;
            }
            .catalog-types {
                gap: 20px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                max-width: 100%;
                width: 100%;
                .type {
                    width: 100%;
                    padding: 20px;
                    max-width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .final-outcomes {
            width: 100%;
            padding: 40px;
        }
        .laptop {
            padding: 50px 0;
            width: 100%;
            .laptop-wrapper {
                width: 100%;
            }
        }
        .user-insights {
            
            .inner-title {
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .user-insights-cards {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                .card {
                    max-width: 535px;
                    &:nth-child(3) {
                        display: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .description {
            padding: 40px;
            flex-direction: column;
            gap: 40px;
            .project-wrapper {
                width: 100%;
            }
        }
        .cross-platform {
            max-width: 100%;
            .cross-platform-cards {
                .card {
                    max-width: 100%;
                    .card-image {
                        max-width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    #home-browsing {
        .design-exp {
            .browsing-exp-wrapper {
                .title {
                    display: block;
                    text-align: center;
                }
                &::after {
                    width: 520px;
                    left: auto;
                    right: auto;
                    bottom: -50px;
                }
                .browsing-exp {
                    margin-bottom: 0;
                    .browsing-exp-phones {
                        gap: 50px;
                        .phone {
                            &:not(:last-child)::after {
                                width: 37px;
                                display: inline-block;
                                right: -40px;
                            }
                        }
                    }
                }
            }
            .mobile-browsing-exp {
                margin-top: 100px;
            }
        }
    }
}
@media (max-width: 992px) {
    #home-browsing {
        .catalog-types {
            flex-direction: column;
        }
        .cross-platform {
            padding: 40px;
        }
        .design-exp {
            max-width: 100%;
            .browsing-exp-wrapper {
                .browsing-exp {
                    .browsing-exp-phones {
                        .phone {
                            max-width: 88px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .dev-direction {
            max-width: 100%;
        }
        .user-insights {
            .user-insights-cards {
                align-items: flex-start;
                .card {
                    max-width: 250px;
                }
            }
        }
        .laptop {
            .laptop-wrapper {
                img {
                    width: 100%;
                }
            }
        }
        .final-flow {
            .final-flow-images {
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 0;
                gap: 20px;
                .image {
                    margin-right: 0;
                    &::after {
                        right: -100px;
                    }

                }
                .card {
                    &:nth-child(2) img {
                        margin-bottom: 0;
                    }
                    &:nth-child(3) img {
                        margin-top: 0;
                    }
                }
            }
        }
        .stakeholder-insights {
            .stakeholder-insights-cards {
                .card {
                    .image-wrapper {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .feat-func {
            .catalog {
                .catalog-image-wrapper {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 572px) {
    #home-browsing {
        .conclusions {
            .conclusions-cards {
                flex-direction: column;
                .card {
                    width: 100%;
                }
            }
        }
        .design-exp {
            .browsing-exp-wrapper {
                &::after {
                    display: none;
                }
                .browsing-exp {
                    padding: 40px 0;
                    .browsing-exp-phones {
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .phone {
                            &:nth-child(2)::after {
                                display: none;
                            }
                            &.phone:not(:last-child)::after {
                                right: -80px;
                            }
                        }
                    }
                }
            }
        }
        .final-flow {
            .final-flow-images {
                .card {
                    max-width: 88px;
                }
            }
        }
    }
}